.comparison-row{
    padding: 20px;
    color: white;
    display: flex;
    margin: 20px;
    border-color: #393A49;
    background-color:#22252F;
    border-width: 1px;
    border-style: solid;
    position: relative;
    border-radius: 20px;
}

.comparison-id{
    padding-left: 5%;
}

.comparison-name{
    padding-left: 5%;
}

.view-details-btn{
    background: transparent;
    border: none;
    border-width: 2px;
    padding: 5px;
    border-color: rgb(96, 96, 136);
    border-style: solid;
    border-radius: 5px;
    color: white;
    transition: all 0.2s;
    align-self: flex-end;
    margin-left: 40%;
  }