*{
  font-family: 'inter';
}

.App {
  display: flex;
  flex-direction: column;
  background-color:#27283A;
  min-height: 100vh;
}

.nav{
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search, .search:focus, .search:active{
  border: none;
  color: #a8a5a5;
  outline: none;
  background: #383953;
  margin-left: 60px;
  height: 25px;
  width: 500px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  /* box-shadow: 0.5px 0.5px 10px rgba(192, 191, 191, 0.384); */
}

.search.compare{
  height: 15px;
  width: 300px;
  font-size: 15px;
  margin-left: 0px;
  margin-right: 16px;
}

.error{
  color: white;
  align-self: center;
}

.actions{
  /* background-color: red; */
  height: 100%;
  /* width: 400px; */
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.saved-btn{
  background: transparent;
  border: none;
  border-width: 2px;
  padding: 10px;
  border-color: rgb(96, 96, 136);
  border-style: solid;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  transition: all 0.2s;
}

.saved-btn:hover{
  cursor: auto;
  border-color: #383953;
}

.saved-btn:active{
  scale: 0.98;
}

.compare-btn{
  width: 200px;
  margin-left: 60px;
}

.card-view{
  padding: 10px;
  /* padding-top: 50px; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content:center; */
  flex-wrap: wrap;
}

.card-view.compare{
  overflow: scroll;
}

.compareView{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.795);
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.compareViewContent{
  background-color: rgb(28, 40, 71);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 16px;
  max-height: 90%;
}